$primarycolor: #0000EC;
$divprimarycolor: #0000FF;
$divprimarycolorg: linear-gradient(to left, #0000FF 0%, #0000A3 100%);
$font-mono: 'IBM Plex Mono', monospace;
$font-mono-bold: 'IBM Plex Mono', monospace;
$primarytextcolor: #060A24;
$H1style:'IBM Plex Sans', sans-serif;
$pstyle:'IBM Plex Mono', monospace;
$buttoncolor: #00F3BB;
$hovercolor: #00F3BB;
$aactive: rgba(6, 10, 36, 0.5);
$buttonhcolor: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);